<div class="about-view">
    <div class="about">
    <h1>はじめに</h1>
        <p>
            ふろうとりっぷは　ねこと　たびする　ぼとるめっせーじあぷり！
            あなたが　かいた　めっせーじは　ぼとると　なって　この　せかいを　ながれて　いきます
            それは　おそらく　おなじように　たびする　だれかに　ながれつくでしょう
            ぎゃくに　みしらぬ　だれかの　ながした　ぼとるが
            やがて　たびする　あなたの　てのもとに　とどくことも　あるでしょう
        </p>
        <p>
            ぼとるの　なかみは　うれしそうだったり　かなしそうだったり　おこっていたり？
            あるいは　なんてことない　ちょっとした　つぶやきかも　しれないですね
        </p>
        <p>
            なまえも　かおも　まっしろな　だれかと　あなたの　こえを　かわしてみませんか？
        </p>
    </div>
</div>
<div class="back">
    <%= link_to "もどる", "/home/main", data: {"turbolinks" => false} %>
</div>
<div class="back-img" style="height: 100px; margin: 60px 0px;"></div>
