<div class="about-view">
    <div class="about">
    <h1>はじめに</h1>
        <p>
            ふろうとりっぷは　ねこと　たびする　ぼとるめっせーじあぷり！<br class="pc">
            あなたが　かいた　めっせーじは　ぼとると　なって　この　せかいを　ながれて　いきます<br class="pc">
            それは　おそらく　おなじように　たびする　だれかに　ながれつくでしょう<br class="pc">
            ぎゃくに　みしらぬ　だれかの　ながした　ぼとるが<br class="pc">
            やがて　たびする　あなたの　てのもとに　とどくことも　あるでしょう
        </p>
        <p>
            ぼとるの　なかみは　うれしそうだったり　かなしそうだったり　おこっていたり？<br class="pc">
            あるいは　なんてことない　ちょっとした　つぶやきかも　しれないですね
        </p>
        <p>
            なまえも　かおも　まっしろな　だれかと　あなたの　こえを　かわしてみませんか？
        </p>
    </div>
</div>
<div class="back">
    <% if user_signed_in? %>
      <%= link_to "もどる", "/home/main", data: {"turbolinks" => false} %>
    <% else %>
      <%= link_to "もどる", "/home/top", data: {"turbolinks" => false} %>
    <% end %>
</div>
<div class="back-img" style="height: 100px; margin: 60px 0px;"></div>
