<h1>あばうと</h1>
<p>
    だれか　に　きいて　ほしい　こと　が　ある　けど　じぶん　が　いった　と　しられたく　ない　。
    だれかに　きいて　ほしい　こと　が　ある　けど　しってる　だれか　に　きかせたい　わけ ではない　。
    たわいない　ただ　の　ひとりごと　だけど　それでも　きょうかん　して　もらいたい　。
    きょうかん　して　もらいたい　けど　べつに　して　もらわなくて　いい　。
    でも　もし　なにか　が　かえってくる　と　いうなら　、　それ　は　きっと　とっても　うれしい　こと　。
    そんな　ちょっと　めんどくさい　おきもち　を　おもち　の　おかた　に　。
<br>
    こえ　が　きこえて　くる　。
    かお　も　しらない　だれか　の　こえ　。
    わたしあて　では　けっして　ない　けど　わたし　だけ　に　とどいた　だれか　の　こえ　。
    たのしげ　だったり　かなしげ　だったり　さみしげ　だったり　おこって　いたり
    かずある　こえ　の　なか　に　ふと　、　こころ　に　ひっかかる　もの　が　みつかって　。
    ちょっと　だけ　こたえて　みたく　なる　。

</p>

<div class="back">
    <%= link_to "もどる", "/home/main", data: {"turbolinks" => false} %>
</div>
