<!-- メッセージ -->
<div class="message">
    <div class="contents-wrap">
        <p class="title">メッセージ</p>
        <div class="text"><%= @message.message %></div>

    </div>

    <div class="back">
        <%= link_to "戻る", :back %>
    </div>
</div>
