<!-- メッセージ -->
<div class="message-view">
    <div class="message-wrap">
        <p class="title">とどいためっせーじ</p>
        <div class="text"><%= simple_format(@message.message) %></div>
    </div>

    <div class="back">
        <%= link_to "もどる", :back, data: {"turbolinks" => false} %>
    </div>
</div>
