<div class="top-visual">
    <div class="main-view">
        <div class="copy">
            <p>おもい　ぼとるにつめて　きらきら</p>
        </div>
        <div class="button">
            <%= link_to 'ついったーでろぐいん', user_twitter_omniauth_authorize_path %>
        </div>
        <%= link_to 'めいんぺーじ', '/home/main', data: {"turbolinks" => false}, :style => "display: none;" %>
    </div>
    <!-- 背景画像 -->
</div>
<div class="back-img">
    <%= image_tag("neko.png", :id => "cat") %>
</div>
