<div class="button-wrap">
    <div class="button" style="display: none;">
        Google
    </div>
    <div class="button">
        <%= link_to 'Twitterろぐいん', user_twitter_omniauth_authorize_path %>
    </div>
    <div class="button">
        <%= link_to "めっせーじをみにいく", '/home/main' %>
    </div>
</div>
<!-- グレーアウト -->
<div id="overlay"></div>
