<div class="top-visual">
    <div class="main-view">
        <div class="copy">
            <p>おもい　ぼとるにつめて　きらきら</p>
        </div>
        <div class="button">
            <%= link_to 'ついったーでろぐいん', user_twitter_omniauth_authorize_path %>
        </div>
        <div class="button" id="howto">
            <%= link_to 'つかいかた', "/home/howto" %>
        </div>
    </div>
    <!-- 背景画像 -->
    <div class="back-img">
        <%= image_tag("nekoanime01.gif", :id => "cat") %>
    </div>
</div>
