<div class="button-wrap">
    <div class="button" style="display: none;">
        Google
    </div>
    <div class="button">
        Twitter
    </div>
    <div class="button">
        <%= link_to "メッセージを見に行く", '/home/main' %>
    </div>
</div>
<!-- グレーアウト -->
<div id="overlay"></div>
