<div class="button-wrap">
    <div class="button">
        Google
    </div>
    <div class="button">
      <%= link_to 'Twitterログイン', user_twitter_omniauth_authorize_path %>
    </div>
    <div class="button">
        <%= link_to "メッセージを見に行く", '/home/main' %>
    </div>
</div>
<!-- グレーアウト -->
<div id="overlay"></div>
