// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ローディングアニメーション */
.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background: #FFF;
  z-index: 9999;
}

.loading h1.loading-text{
    text-align: center;
    position: relative;
    top: 30%;
    transform: translateY(-50%);
    color: #5E91CD;
    font-family: serif;
}

.animation{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
	width: 0;
	height: 0;
	margin: 0 auto;
	border: 36px solid #3261AB;
	border-color: #D5E0F1 #AEC1E3 #6A8CC7 #3261AB;
	border-radius: 50%;
	z-index: 1;
	animation: spin 1s linear infinite;
}

.animation:after{
	content: "";
	position: absolute;
	top: -30px;
	left: -30px;
	width: 0;
	height: 0;
	border: 30px solid #3261AB;
	border-color: #fff;
	border-radius: 50%;
	z-index: 2;
}

@keyframes spin{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

/* 全体 */
body{
    letter-spacing: 0.1em;
    margin: 0;
}

/* ヘッダー */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}
.header-logo img{
    height: 35px;
    transition: .4s;
}
.header-logo img:hover{
    opacity: 0.7;
}
.header-menu{
    display: none;
    margin-right: 5%;
}
.header-menu p{
    color: #5E91CD;
    margin: 0px 30px;
}

// スマホ向けヘッダー
@media screen and (max-width: 767px) {
    .header-logo{
        height: auto;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-left: 0px;
    }
    .header-logo img{
        height: 30px;
    }
    .header-menu{
        display: none;
    }
}

/* トップページ */
.main-view{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
    text-align: center;
    margin: 50px auto;
    position: relative;
    top: 30%;
}
.main-view .copy p{
    color: #5E91CD;
    font-family: 'Hiragino Mincho Pro';
    font-weight: 300;
    font-size: 24px;
}
.main-view .button{
    width: 400px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 20px;
    font-family: 'Arial Hebrew';
    transition: .4s;
    background-color: #5E91CD;
    color: #fff;
    cursor: pointer;
}

.main-view .button:hover{
    opacity: 0.8;
}

.main-view .button a{
    color: #FFF;
    text-decoration: none;
    width: 360px;
    display: block;
    padding: 15px 20px;
}

// スマホ向け
@media screen and (max-width: 767px) {
    .main-view{
        width: 90vw;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
    }
    .main-view .copy p{
        font-size: 18px;
    }
}

/* メインページ */
.message-wrap{
    color: #fff;
    font-family: Hiragino Sans;
    margin: 0 auto;
    width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
/* メッセージ入力 */
.message-wrap form{
    position: relative;
    width:100%;
    text-align: center;
}
.message-wrap .textbox{
    text-align: left;
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    color: #555;
	padding: 15px 80px 15px 20px;
	border-radius: 3px;
	border:2px solid #5E91CD;
	background: transparent;
	font-size: 20px;
    resize: none;
}

.message-wrap .textbox:focus{
    box-shadow: 0px 0px 10px #5E91CD;
}

.message-wrap .textbox, input#send{
    visibility: hidden;
}

.message-wrap form img, input#send{
    position: absolute;
    height: 50px;
    bottom: 0%;
    left: 88%;
    transform: translateY(-50%) rotate(30deg);
    filter: invert(60%);
}

@media screen and (max-width: 767px) {
    .message-wrap{
        width: 90vw;
    }
    .message-wrap form img, input#send{
        left: 80%;
    }
}
// 送信ボタン
.message-wrap form img:hover, input#send:hover{
    animation: swing 0.5s linear;
    -webkit-animation: swing 0.5s linear;
}
@keyframes swing{
    0%  {transform: translateY(-50%) rotate(30deg);}
    20% {transform: translateY(-50%) rotate(40deg);}
    40% {transform: translateY(-50%) rotate(20deg);}
    60% {transform: translateY(-50%) rotate(35deg);}
    80% {transform: translateY(-50%) rotate(25deg);}
    100%{transform: translateY(-50%) rotate(30deg);}
}
@-webkit-keyframes swing{
    0%  {transform: translateY(-50%) rotate(30deg);}
    20% {transform: translateY(-50%) rotate(40deg);}
    40% {transform: translateY(-50%) rotate(20deg);}
    60% {transform: translateY(-50%) rotate(35deg);}
    80% {transform: translateY(-50%) rotate(25deg);}
    100%{transform: translateY(-50%) rotate(30deg);}
}

.error{
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.error p{
    color:#D45D87;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .error{
        width: 90%;
    }
}

// グレーアウト
#overlay{
    z-index: 1;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 120%;
	background-color: rgba(15, 35, 55, 0.3);
    cursor: pointer;
}
// 投稿一覧
.post_all{
    z-index: 999;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255,255,255,0.7);
    color: darkblue;
    padding: 50px;
    border-radius: 4px;
}
.post_all .message_item{
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}

// 未読アイコン
.unread-icon{
    position: relative;
    margin-top: 70px;
    z-index: 2;
}

.unread-icon img.unread-icon, .unread-receive-icon img.unread-receive-icon{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 30px;
    height: auto;
    width: 80px;
    transition: .4s;
    cursor: pointer;
    animation: wave 2s ease-in-out;
    -webkit-animation: wave 2s linear infinite alternate;
}

.unread-receive-icon img.unread-receive-icon{
    filter: invert(1);
    margin-top: 10px;
    z-index: 5;
    display:none;
}

@keyframes wave{
    0%  {transform: translateX(0px) translateY(0px) rotate(0deg);}
    20% {transform: translateX(0.1px) translateY(-2px) rotate(0.5deg);}
    40% {transform: translateX(0.2px) translateY(-8px) rotate(1deg);}
    60% {transform: translateX(0.4px) translateY(-12px) rotate(1.5deg);}
    80% {transform: translateX(0.8px) translateY(-16px) rotate(2deg);}
    100%{transform: translateX(1px) translateY(-20px) rotate(2.5deg);}
}

@-webkit-keyframes wave{
    0%  {transform: translateX(0px) translateY(0px) rotate(0deg);}
    20% {transform: translateX(0.1px) translateY(-2px) rotate(0.5deg);}
    40% {transform: translateX(0.2px) translateY(-8px) rotate(1deg);}
    60% {transform: translateX(0.4px) translateY(-12px) rotate(1.5deg);}
    80% {transform: translateX(0.8px) translateY(-16px) rotate(2deg);}
    100%{transform: translateX(1px) translateY(-20px) rotate(2.5deg);}
}

.unread-icon img.unread-icon:hover, .unread-receive-icon img.unread-receive-icon:hover{
    opacity: 0.7;
}

/* テキストボックス内の初期テキスト色 */
:placeholder-shown {
    color: #D0D8E2; }

/* Google Chrome, Safari, Opera 15+, Android, iOS */
::-webkit-input-placeholder {
    color: #D0D8E2; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* 選択時の枠を非表示 */
:focus {
    outline: none;
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

/* メッセージ詳細画面 */
.message-view .message-wrap .text{
    width: 100%;
    padding: 15px 25px;
    margin: 10px 0px;
    text-align: left;
    box-sizing: border-box;
    color: #555;
    font-size: 20px;
    border:2px solid #5E91CD;
    border-radius: 3px;
	background: transparent;
    resize: none;
}

.message-view .back{
    position: relative;
}

.message-view .back a{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    color: #555;
    transition: .4s;
    border-bottom: 1px solid #888;
    margin: 20px 0px 60px 0px;
}
.message-view .back a:hover{
    opacity: 0.7;
}

img.write-icon{
    height: 60px;
    position: absolute;
    border: 1px solid #888;
    border-radius: 30px;
    right: 60px;
    transition: .4s;
    background-color: white;
    z-index: 5;
    cursor: pointer;
}
.write-icon img:hover{
    filter: invert(80%);
}

@media screen and (max-width: 767px) {
    img.write-icon{
        height: 50px;
        right: 50px;
    }
}

.back-img {
	width: 100%;
	height: 200px; /* 画像の高さを指定 */
	position: relative;
	background: image-url("matinami.png") repeat-x 0 0;
	background-size: auto 100%;
	animation: bg-slider 500s linear infinite; /* 500sの部分背景画像の約数だとスムーズ */
    -webkit-animation: bg-slider 500s linear infinite;
	margin: 80px 0;
	padding: 0;
}
@keyframes bg-slider {
	from { background-position: 0 0; }
    to { background-position: -3000px 0; } /* 3000pxとは使用した背景画像の長さ */
}
@-webkit-keyframes bg-slider {
	from { background-position: 0 0; }
    to { background-position: -3000px 0; } /* 3000pxとは使用した背景画像の長さ */
}

.back-img img#cat{
    height: 95px;
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 767px) {
    .back-img {
    	height: 200px; /* 画像の高さを指定 */
    	margin: 60px 0px 0px 0px;
    }
    .back-img img#cat{
        height: 75px;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
