// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 全体 */
body{
    letter-spacing: 0.1em;
    margin: 0;
    overflow-x: hidden;
    font-family: "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    word-break: keep-all;
}

/* テキストボックス内の初期テキスト色 */
:placeholder-shown { color: #D0D8E2; }

// ブラウザのデフォルトスタイルを無効化
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* 選択時の枠を非表示 */
:focus { outline: none; }
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}
// テキストエリアに予め表示される文字の色
::-webkit-input-placeholder { color: #D0D8E2; }

// PCやスマートフォンごとの改行
br.sp, br.pc{
    display: none;
}
@media screen and (max-width: 959px) {
    br.sp{
        display: block;
    }
}
@media screen and (min-width: 960px) {
    br.pc{
        display: block;
    }
}

/*
    ヘッダー
*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;

    .header-logo{
        img{
            height: 35px;
            transition: .4s;
        }
        img:hover{
            opacity: 0.7;
        }
    }
    .header-menu{
        margin-right: 5%;

        a{
            color: #5E91CD;
            margin: 0px 30px;
            text-decoration: none;
            transition: .4s;
        }
        a:hover{
            opacity: 0.7;
        }
    }
    // スマホ用のメニュー
    .navToggle {
        display: block;
        position: absolute;
        right: 13px;
        top: 16px;
        width: 42px;
        height: 36px;
        cursor: pointer;
        z-index: 3;
        background: transparent;
        text-align: center;

        span {
            display: block;
            position: absolute;
            width: 30px;
            border-bottom: solid 3px #bbb;
            -webkit-transition: .35s ease-in-out;
            -moz-transition: .35s ease-in-out;
            transition: .35s ease-in-out;
            left: 6px;
        }
        span:nth-child(1) { top: 9px; }
        span:nth-child(2) { top: 18px; }
        span:nth-child(3) { top: 27px; }
    }

    /* 最初のspanをマイナス45度に */
    /* 2番目と3番目のspanを45度に */
    .navToggle.active{
        span:nth-child(1) {
            top: 18px;
            left: 6px;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        span:nth-child(2), span:nth-child(3) {
            top: 18px;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

    nav.globalMenuSp {
        position: absolute;
        z-index: 999;
        top: 68px;
        left: 0;
        background: #fff;
        color: #000;
        transform: translateX(110%);
        text-align: center;
        transition: all 0.6s;
        width: 100%;

        ul {
            background: #fff;
            margin: 0 auto;
            padding: 0;
            width: 100%;

            li {
                font-size: 1.1em;
                list-style-type: none;
                padding: 0;
                width: 100%;
                border-bottom: 1px dotted #888;
                transform: translateX(110%);

                a {
                    display: block;
                    color: #5E91CD;
                    padding: 1em 0;
                    text-decoration: none;
                }
            }
            li:last-child {
                padding-bottom: 0;
                border-bottom: none;
            }
        }
    }
    // メニュー表示
    nav.globalMenuSp.active {
        transform: translateX(0%);
        box-shadow: 1px 0px 10px #aaa;

        ul{
            li:nth-child(1) {
                transition: all 0.6s 0s;
                transform: translateX(0%);
            }
            li:nth-child(2) {
                transition: all 0.6s 0.1s;
                transform: translateX(0%);
            }
        }
    }

    // スマホ向けヘッダー
    @media screen and (max-width: 767px) {
        .header-logo{
            height: auto;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            margin-left: 0px;

            img{
                height: 30px;
            }
        }
        .header-menu{
            display: none;
        }
    }

    /* PCやタブレットではハンバーガーメニューを非表示 */
    @media screen and (min-width: 768px) {
        .navToggle, nav.globalMenuSp{
            display: none;
        }
    }
}

/*
    トップページ
*/
.top-visual{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .main-view{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 200px;
        text-align: center;
        margin: 50px auto;
        position: relative;
        top: 30%;

        .copy{
            color: #5E91CD;
            font-family: 'Hiragino Mincho Pro';
            font-weight: 300;
            font-size: 24px;
        }
    }
    .back-img{
        height: 200px;
    }
    img#cat{
        height: 120px;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @media screen and (max-width: 767px) {
        .main-view{
            margin: 0px auto;
        }
        img#cat{
            height: 100px;
            position: absolute;
            top: 75%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.main-view .button, .howto .button{
    text-align: center;
    width: 400px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 20px;
    transition: .4s;
    background-color: #5E91CD;
    color: #fff;
    cursor: pointer;
}

.howto .button{
    margin: 30px auto;
}

.main-view .button:hover, .howto .button:hover{
    opacity: 0.8;
}

.main-view .button a, .howto .button a{
    color: #FFF;
    text-decoration: none;
    width: auto;
    display: block;
    padding: 15px 20px;
}

// スマホ向け
@media screen and (max-width: 767px) {
    .top-visual{
        flex-direction: column-reverse;
        margin-top: 10vh;
    }
    .main-view{
        left: 50%;
        width: 100vw;
        transform: translateX(-50%);
        height: 200px;

        .copy p{
            font-size: 18px;
        }
        .button#howto{
            display: block;
        }
    }
    .main-view .button, .howto .button{
        width: 100%;
    }
    .howto .button a{
        width: auto;
    }
}

/* ローディングアニメーション */
.loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background: #FFF;
    z-index: 9999;

    h1.loading-text{
        text-align: center;
        position: relative;
        top: 30%;
        transform: translateY(-50%);
        color: #5E91CD;
        font-family: serif;
    }
    .animation{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    	width: 0;
    	height: 0;
    	margin: 0 auto;
    	border: 36px solid #3261AB;
    	border-color: #D5E0F1 #AEC1E3 #6A8CC7 #3261AB;
    	border-radius: 50%;
    	z-index: 1;
    	animation: spin 1s linear infinite;
    }
    .animation:after{
    	content: "";
    	position: absolute;
    	top: -30px;
    	left: -30px;
    	width: 0;
    	height: 0;
    	border: 30px solid #3261AB;
    	border-color: #fff;
    	border-radius: 50%;
    	z-index: 2;
    }
    @keyframes spin{
    	0%     { transform: rotate(0deg); }
    	100%   { transform: rotate(360deg); }
    }
    // スマホ向けローディングアニメーション
    @media screen and (max-width: 767px) {
        h1.loading-text{ font-size: 24px; }
    }
}

/* メインページ */
.contents-wrap{
    position: relative;
    z-index: 1;
}
.message-wrap{
    color: #fff;
    margin: 0 auto;
    width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
/* メッセージ入力 */
.message-wrap form{
    position: relative;
    width:100%;
    text-align: center;
}
.message-wrap .textbox{
    text-align: left;
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    color: #555;
	padding: 15px 80px 15px 20px;
	border-radius: 3px;
	border:2px solid #5E91CD;
	background: transparent;
	font-size: 20px;
    resize: none;
}
/* タブレット向け */
@media screen and (max-width: 959px) and (min-height: 1023px), screen and (max-width: 1025px) and (min-height: 1365px) {
    .message-wrap{
        margin-top: 70px;

        .textbox{
            height: 400px;
        }
    }
}
/* 大きいタブレット向け(iPad Pro) */
@media screen and (max-width: 1025px) and (min-height: 1365px) {
    .message-wrap{
        margin-top: 100px;

        .textbox{
            height: 400px;
        }
    }
}
/* 大きいタブレット向け(iPad Pro 横向き) */
@media screen and (max-width: 1367px) and (min-height: 1023px) {
    .message-wrap{
        .textbox{
            height: 400px;
        }
    }
}

// テキストエリア開くアニメーション
.message-wrap .textbox.display{
    -webkit-animation: TextBoxOpen cubic-bezier(0.23, 1, 0.32, 1) .6s forwards;
    animation: TextBoxOpen cubic-bezier(0.23, 1, 0.32, 1) .6s forwards;
}
@keyframes TextBoxOpen{
    0%{
        transform: translate3d(0,0,0);
        opacity: 0;
        width: 0%;
        padding: 0;
    }
    100%{
        opacity: 1;
        width: 100%;
        padding: 15px 80px 15px 20px;
    }
}
@-webkit-keyframes TextBoxOpen{
    0%{
        transform: translate3d(0,0,0);
        opacity: 0;
        width: 0%;
        padding: 0;
    }
    100%{
        opacity: 1;
        width: 100%;
        padding: 15px 80px 15px 20px;
    }
}

// テキストエリアとともにボトル開くアニメーション
.message-wrap .textbox.display + input#send{
    -webkit-animation: BottleOpen cubic-bezier(0.23, 1, 0.32, 1) 1.2s forwards;
    animation: BottleOpen cubic-bezier(0.23, 1, 0.32, 1) 1.2s forwards;
}
@keyframes BottleOpen{
    0%{ transform: translate3d(0,0,0); opacity: 0; transform: translateX(-200px) translateY(-50%) rotate(30deg); }
    73%{ transform: translateX(0px) translateY(-50%) rotate(20deg); }
    80%{ transform: translateX(0px) translateY(-50%) rotate(40deg); }
    93%{ transform: translateX(0px) translateY(-50%) rotate(25deg); }
    100%{ opacity: 1; transform: translateX(0px) translateY(-50%) rotate(30deg); }
}
@-webkit-keyframes BottleOpen{
    0%{ transform: translate3d(0,0,0); opacity: 0; transform: translateX(-200px) translateY(-50%) rotate(30deg); }
    73%{ transform: translateX(0px) translateY(-50%) rotate(20deg); }
    80%{ transform: translateX(0px) translateY(-50%) rotate(40deg); }
    93%{ transform: translateX(0px) translateY(-50%) rotate(25deg); }
    100%{ opacity: 1; transform: translateX(0px) translateY(-50%) rotate(30deg); }
}

// テキストエリアが表示されている時はボトルにホバーした時のアニメーションのみ許可
.message-wrap .textbox.display.hover{
    -webkit-animation: unset;
    animation: unset;
}
.message-wrap .textbox.display + input#send.hover{
    -webkit-animation: unset;
    animation: unset;
}

// ボトルにホバーした時のアニメーション
input#send.swing{
    -webkit-animation: Swing cubic-bezier(0.23, 1, 0.32, 1) .4s !important;
    animation: Swing cubic-bezier(0.23, 1, 0.32, 1) .4s !important;
}
@keyframes Swing{
    0%  {transform: translateY(-50%) rotate(30deg);}
    20% {transform: translateY(-50%) rotate(40deg);}
    40% {transform: translateY(-50%) rotate(20deg);}
    60% {transform: translateY(-50%) rotate(35deg);}
    80% {transform: translateY(-50%) rotate(25deg);}
    100%{transform: translateY(-50%) rotate(30deg);}
}
@-webkit-keyframes Swing{
    0%  {transform: translateY(-50%) rotate(30deg);}
    20% {transform: translateY(-50%) rotate(40deg);}
    40% {transform: translateY(-50%) rotate(20deg);}
    60% {transform: translateY(-50%) rotate(35deg);}
    80% {transform: translateY(-50%) rotate(25deg);}
    100%{transform: translateY(-50%) rotate(30deg);}
}

// テキストエリアを閉じるときのアニメーション
.message-wrap .textbox.hidden{
    -webkit-animation: TextBoxClose cubic-bezier(0.23, 1, 0.32, 1) .6s forwards;
    animation: TextBoxClose cubic-bezier(0.23, 1, 0.32, 1) .6s forwards;
}
@keyframes TextBoxClose{
    0%{
        transform: translate3d(0,0,0);
        opacity: 1;
        width: 100%;
        padding: 15px 80px 15px 20px;
    }
    100%{
        transform: translate3d(0,0,0);
        opacity: 0;
        width: 0%;
        padding: 0;
    }
}
@-webkit-keyframes TextBoxClose{
    0%{
        transform: translate3d(0,0,0);
        opacity: 1;
        width: 100%;
        padding: 15px 80px 15px 20px;
    }
    100%{
        opacity: 0;
        width: 0%;
        padding: 0;
    }
}

// テキストエリアとともにボトル閉じるアニメーション
.message-wrap .textbox.hidden + input#send{
    -webkit-animation: BottleClose cubic-bezier(0.23, 1, 0.32, 1) .6s forwards;
    animation: BottleClose cubic-bezier(0.23, 1, 0.32, 1) .6s forwards;
}
@keyframes BottleClose{
    0%{ transform: translate3d(0,0,0); opacity: 1; }
    50%{ opacity: 0; }
    100%{ transform: translateX(-200px) translateY(-50%) rotate(30deg); opacity: 0; }
}
@-webkit-keyframes BottleClose{
    0%{ transform: translate3d(0,0,0); opacity: 1; }
    50%{ opacity: 0; }
    100%{ transform: translateX(-200px) translateY(-50%) rotate(30deg); opacity: 0; }
}

// テキストボックスを選択中
.message-wrap .textbox:focus{
    box-shadow: 0px 0px 10px #5E91CD;
}

.message-wrap form img, input#send{
    position: absolute;
    height: 50px;
    bottom: 0%;
    left: 88%;
    transform: translateY(-50%) rotate(30deg);
    filter: invert(60%);
}

@media screen and (max-width: 767px) {
    .message-wrap{
        width: 90vw;
    }
    .message-wrap form img, input#send{
        left: 80%;
    }
    @keyframes BottleOpen{
        0%{ transform: translate3d(0,0,0); opacity: 0; transform: translateX(-200px) translateY(-50%) rotate(30deg); }
        73%{ transform: translateX(0px) translateY(-50%) rotate(20deg); }
        80%{ transform: translateX(0px) translateY(-50%) rotate(40deg); }
        93%{ transform: translateX(0px) translateY(-50%) rotate(25deg); }
        100%{ opacity: 1; transform: translateX(0px) translateY(-50%) rotate(30deg); }
    }
    @-webkit-keyframes BottleOpen{
        0%{ transform: translate3d(0,0,0); opacity: 0; transform: translateX(-200px) translateY(-50%) rotate(30deg); }
        73%{ transform: translateX(0px) translateY(-50%) rotate(20deg); }
        80%{ transform: translateX(0px) translateY(-50%) rotate(40deg); }
        93%{ transform: translateX(0px) translateY(-50%) rotate(25deg); }
        100%{ opacity: 1; transform: translateX(0px) translateY(-50%) rotate(30deg); }
    }
}

.error{
    visibility : hidden;
    color:#D45D87;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .error{
        padding: 0 10px;
    }
}

// グレーアウト
#overlay{
    z-index: 1;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 120%;
	background-color: rgba(15, 35, 55, 0.3);
    cursor: pointer;
}
// 投稿一覧
.post_all{
    z-index: 999;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255,255,255,0.7);
    color: darkblue;
    padding: 50px;
    border-radius: 4px;

    .message_item{
        border-bottom: 1px solid gray;
        padding-bottom: 20px;
    }
}

// 受け取ったメッセージ一覧
.all-message{
    display: none;
    width: 650px;
    padding: 30px;
    background: rgba(94,145,205,0.1);
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #555;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 40vh;
    z-index: 2;
    border-radius: 4px;

    div.message{
        position: relative;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: 1px solid #aaa;
        padding: 15px;
        transition: .4s;

        p.date{
            width: 100%;
            margin: 0;
            font-size: 14px;
        }
        a#message_link{
            position: absolute;
            line-height: 1.4;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            text-indent: 200%;
            white-space: nowrap;
            overflow: hidden;
        }
        .icon{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 10px 3px 0px 3px;
        }
        a{
            transition: .2s;
            z-index: 5;
            cursor: pointer;
            opacity: 0.8;
        }
        a img.reply{
            height: 15px;
        }
        a#report{
            z-index: 5;
            transition: .2s;
        }
        a#report img.report{
            height: 15px;
        }
        p#delete{
            display: block;
            color: #D45D87;
            font-weight: 700;
            transition: .2s;
            z-index: 5;
            cursor: pointer;
            margin: 0;
        }
        p.message{
            width: 100%;
            text-align: left;
            margin: 15px 0px 10px 0px;
        }
        a:hover, p#delete:hover{
            opacity: 0.8;
            transform: scale(1.3);
        }
    }
    div.message:hover {
        transform: scale(1.05);
    }
}

@media screen and (max-width: 1300px) {
    .all-message{
        width: 550px;
        max-height: 30vh;
        top: 30%;
    }
}

// スマホ向け
@media screen and (max-width: 767px) {
    .all-message{
        width: 90vw;
        padding: 15px;
        overflow: scroll;
        max-height: 30vh;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);

        .message .icon{
            padding: 5px 2px 0px 2px;
        }
    }
    div.message:hover {
        transform: scale(1);
    }
    .send-info{
        width: 90vw;
        padding: 15px;
        position: fixed;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

// 通知
.send-info{
    display: none;
    width: 650px;
    padding: 30px;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #555;
    max-height: 50vh;
    z-index: 2;
    border-radius: 4px;
}

// 未読アイコン
.unread-icon{
    position: relative;
    z-index: 2;
}
// 誰か宛の未読アイコン
.unread-icon img.unread-reply-icon{
    filter: invert(1);
    margin-top: 40px;
    z-index: 5;
    display:none;
}
// 自分宛ての未読アイコン
.unread-icon img.unread-icon{
    margin-top: 100px;
}
// 誰か宛の未読アイコン・自分宛ての未読アイコン
.unread-icon img.unread-icon, .unread-icon img.unread-reply-icon{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 30px;
    height: auto;
    width: 80px;
    cursor: pointer;
    animation: wave 2s linear infinite alternate;
    -webkit-animation: wave 2s linear infinite alternate;
}
@keyframes wave{
    0%  {transform: translateY(0px);}
    20% {transform: translateY(-2px);}
    40% {transform: translateY(-5px);}
    60% {transform: translateY(-8px);}
    80% {transform: translateY(-12px);}
    100%{transform: translateY(-14px);}
}
@-webkit-keyframes wave{
    0%  {transform: translateY(0px);}
    20% {transform: translateY(-2px);}
    40% {transform: translateY(-5px);}
    60% {transform: translateY(-8px);}
    80% {transform: translateY(-12px);}
    100%{transform: translateY(-14px);}
}

// 未読アイコンにカーソル合わせた時
.unread-icon img.unread-icon:hover, .unread-icon img.unread-reply-icon:hover{
    animation: poyoyon .4s ease-in-out both;
    -webkit-animation: poyoyon .4s ease-in-out both;
}
@keyframes poyoyon{
    0%  {transform: scale(1);}
    20% {transform: scale(1.08);}
    40% {transform: scale(0.95);}
    60% {transform: scale(1.15);}
    80% {transform: scale(0.9);}
    100%{transform: scale(1);}
}
@-webkit-keyframes poyoyon{
    0%  {transform: scale(1);}
    20% {transform: scale(1.1);}
    40% {transform: scale(0.9);}
    60% {transform: scale(1.2);}
    80% {transform: scale(0.9);}
    100%{transform: scale(1);}
}

/* メッセージ詳細画面 */
.message-view .message-wrap .text{
    width: 100%;
    padding: 15px 25px;
    margin: 10px 0px;
    text-align: left;
    box-sizing: border-box;
    color: #555;
    font-size: 20px;
    border:2px solid #aaa;
    border-radius: 3px;
	background: transparent;
    resize: none;
}

.message-view .message-wrap .text.my {
    border: 2px solid #5E91CD;
}

/* 縦に長いスマホ用 */
@media screen and (max-width: 767px) and (min-height: 800px) {
    .message-wrap{
        margin-top: 80px;
    }
}

.message-view .icon-wrap{
    margin-top: 25px;
}

div.replyed p{
    text-align: center;
    color: #888;
}

.back{
    position: relative;

    a{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-decoration: none;
        color: #555;
        transition: .4s;
        border-bottom: 1px solid #888;
        margin: 20px 0px 60px 0px;
    }
    a:hover{
        opacity: 0.7;
        letter-spacing: 0.2em;
    }
}

.icon-wrap{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 60px;

    .icon {
        position: relative;
        height: 60px;
        overflow: hidden;
        border: 1px solid #888;
        border-radius: 30px;
        margin-left: 10px;
        background-color: white;
        z-index: 5;
        cursor: pointer;
    }
    #enquete{
        display: none;
    }
    .icon img {
        height: 60px;
        transition: .3s;
    }
    .icon:hover .mask {
        opacity: 1;
    }
    .icon:hover img {
        filter: blur(1.5px);
        transform: scale(1.1);
    }
    .caption{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-align: center;
        color: #FFF;
        margin: 0 -50%;
        word-break: keep-all;
    }
    .caption:hover{
        animation: IconTextAnimation cubic-bezier(0.86, 0, 0.07, 1) .4s;
        -webkit-animation: IconTextAnimation cubic-bezier(0.86, 0, 0.07, 1) .4s;
    }
    @keyframes IconTextAnimation{
        0%{
            letter-spacing: 2em;
            text-indent: 2em;
            opacity: 0;
        }
        100%{
            letter-spacing: 0.1em;
            text-indent: 0.1em;
            opacity: 1;
        }
    }
    .mask{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        background-color: rgba(40, 40, 40, 0.4);
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
}

@media screen and (max-width: 767px) {
    .icon-wrap{
        padding: 0px;

        .icon {
            height: 50px;
            right: 50px;

            img {
                height: 50px;
            }
        }
        .icon:hover .mask {
            opacity: 0;
            img {
                filter: blur(0);
                transform: scale(1);
            }
        }
    }
}
/* タブレット向け */
@media screen and (max-width: 959px) {
    .icon-wrap{
        .icon:hover{
            .mask {
                opacity: 0;
            }
            img {
                filter: blur(0);
                transform: scale(1);
            }
        }
    }
}

.back-img {
	width: 100%;
	height: 200px; /* 画像の高さを指定 */
	position: relative;
	background: image-url("matinami.png") repeat-x 0 0;
	background-size: auto 100%;
	animation: bg-slider 300s linear infinite; /* 500sの部分背景画像の約数だとスムーズ */
    -webkit-animation: bg-slider 300s linear infinite;
	margin-top: 30px;
	padding: 0;

    @keyframes bg-slider {
    	from { background-position: 0 0; }
        to { background-position: -1800px 0; } /* 3000pxとは使用した背景画像の長さ */
    }
    @-webkit-keyframes bg-slider {
    	from { background-position: 0 0; }
        to { background-position: -1800px 0; } /* 3000pxとは使用した背景画像の長さ */
    }

    img.cat{
        height: 120px;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    img.cat#on{
        display: none;
        height: 85px;
        top: 78%;
    }
}

@media screen and (max-width: 767px) {
    .back-img {
    	height: 200px; /* 画像の高さを指定 */
    	margin: 10px 0px 0px 0px;

        img.cat{
            height: 100px;
            position: absolute;
            top: 75%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        img.cat#on{
            height: 55px;
            top: 78%;
        }
    }
}

/* コンパクトスマホ用 */
@media screen and (max-width: 767px) and (max-height: 700px) {
    .back-img {
    	height: 120px;
    	margin: 30px 0px 0px 0px;

        img.cat{
            height: 75px;
            top: 70%;
        }
    }
    .unread-icon img.unread-icon{
        margin-top: 50px;
        margin-left: 20px;
    }
    .unread-icon img.unread-reply-icon{
        margin-top: 50px;
        margin-left: 70px;
    }
}

/* 大きいタブレット向け(iPad Pro) */
@media screen and (max-width: 1025px) and (min-height: 1365px) {
    .back-img {
    	height: 300px;
    	margin: 200px 0px 0px 0px;

        img.cat{
            height: 150px;
            top: 77%;
        }
    }
    .unread-icon img.unread-icon, .unread-icon img.unread-reply-icon{
        margin-left: 50px;
    }
    .unread-icon img.unread-icon{
        margin-top: 350px;
    }
    .unread-icon img.unread-reply-icon{
        margin-top: 290px;
    }
}


/* はうとぅ・あばうと */
.howto-view, .about-view{
    color: #555555;
    padding: 30px 20%;
}
.howto h1, .about h1{
    border-left: 4px solid #5E91CD;
    padding-left: 10px;
    font-weight: 300;
}
.howto{
    h1.howto{
        margin-top: 60px;
    }
    p.attention{
        text-align: center;
        color: #D45D87;
        font-weight: 700;
        margin-top: 50px;
    }
    img#cat{
        position: relative;
        height: 70px;
        left: 50%;
        transform: translateX(-50%);
    }
}
.howto-icon{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 600px;
    margin: 50px auto;

    div{
        width: 10%;

        img{
            height: 60px;
            width: auto;
        }
        img#pen, img#bag, img#enquete{
            border: 1px solid #888;
            border-radius: 30px;
            background-color: white;
            transform: scale(0.75);
        }
        img#send{
            transform: scale(0.85) translate(5px, 5px) rotate(30deg);
            filter: invert(60%);
        }
        img#reply{
            filter: invert(1);
        }
    }
    p{
        width: 87%;
        margin-left: 3%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

/* スマホ向けはうとぅ */
@media screen and (max-width: 767px) {
    .howto-view{
        padding: 15px 10%;
    }
    .howto h1{
        font-size: 24px;
    }
    .howto h1.howto{
        margin-top: 60px;
    }
    .howto-icon{
        width: auto;
        margin-top: 0px;

        div{
            margin-top: 40px;
            width: 100%;

            img{
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
            img#pen, img#bag, img#enquete{
                border: 1px solid #888;
                border-radius: 30px;
                background-color: white;
                transform: scale(0.75) translateX(-50%);
            }
            img#send{
                transform: scale(0.85) translate(-50%, 5px) rotate(30deg);
                filter: invert(60%);
            }
            img#reply{
                filter: invert(1);
            }
        }
        p{
            width: 100%;
        }
    }
}
/* タブレット向けはうとぅ */
@media screen and (max-width: 959px) {
    .howto-icon{
        width: auto;
    }
}

/* あばうと */
.about-view .about p{
    line-height: 2.0;
}

/* スマホ向けあばうと */
@media screen and (max-width: 767px) {
    .about-view{
        padding: 15px 10%;
    }
    .about h1{
        font-size: 24px;
    }
}
